# Data Science Tools and Ecosystem

## Colby Stichter

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List popular languages for Data Science
- Learn about R and RStudio
- Learn about Github
- Learn how to create branches and commit changes in Github

Some of the popular languages that Data Scientists use are: 
1. Python 
2. R 
3. Java 
4. Javascript

Some of the commonly used libraries used by Data Scientists include: 
1. Jupyter
2. Rstudio
3. Github

|Data Science Tools|
---
|Hadoop|
|GGplot2|
|RStudio|

Below are a few examples of evaluating artithmetic expressions in Python

In [12]:
(3*4)+5
#This is a simple arithmetic expression to multiply then add integers

17

In [19]:
print('200 minutes written as hours is ') 
200/60 
#This will convert 200 minutes to hours by dividing by 60

200 minutes written as hours is

3.3333333333333335